body{
    margin: 0;
    padding: 0;
    color : #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    max-width: 1000px;
    margin: 10px -15px -20px 30px ;
    display: grid;
    height: 100px;
    background-color: green;
}
header, footer{
    width:100%;
    align-items: center;
}
footer{
    position:fixed;
    bottom: 0;
}
