.locations, .amenities{
    height: 100%;
    width: 25%;
}
.locations{
    border-right: #DDDDDD 1px solid;
    display: grid;
    place-content: center;
}
.amenities{
    margin-right: auto;
    display: grid;
    place-content: center;
}
.location h3
.amenities h3{
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.location h4
.amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
